* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 40px;
}
a {
    text-decoration:none;
    color: black;
}
.left,
.right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 4px 30px 4px 30px; */
}
.right button {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
    display: block;
}
/* #image img {
    height: 35px;
    width: 120px;
} */
#padding {
    padding: 3px 10px 3px 10px;
}
.menu {
    box-shadow: 1px 1px 7px rgb(85, 83, 83);
    background-color: rgb(248, 246, 246);
    padding: 4px 0px 4px 0px;
}
.menu-container {
    margin: 0px 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .right #a-tag {
    font-size: 12px;
    padding: 5px;
} */